html {
  font-size: 62.5%;
}

li::marker {
  color: #FFFF5F;
  content: " - ";
  font-weight: bold;
}

.pane-right .pane-content {
  color: #ffffff;
}

.pane.pane-left.menu-open {
  display: block;
  width: 100%;
}

.pane.pane-right.menu-open {
  display: none;
}

.sourceCode {
  overflow-x: scroll;
}

.pane-content {
  padding: 1em;
}

.main-body a {
  color: #4F6BD0;
  font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
  color: #FD00FE;
  margin: 0px;
  padding: 0px;
}

.netrw p {
  margin: 0px;
}

.netrw-header {
  color: #729FFB;
  padding: 0.5em 0.25em 0em 0.25em;
}

.netrw-links {
  padding: 0em 0.25em 0.25em 0.25em;
}

.link-file {
  color: #ffffff;
}

.link-directory {
  color: #00F1F7;
}

body {
  background-image: url("/images/bliss.png");
  overflow: hidden;
}

.editor {
  font-size: 1.6rem;
  color: #000;
  height: 100vh;
}

.header {
  background-color: #31363B;
  margin: 0rem;
  font-size: 2.4rem;
  color: #ffffff;
  text-align: center;
  padding: 0rem;
  height: 40px;
  display: table-row;
}

.header-menu {
  display: inline-block;
  line-height: 1px;
  margin-left: 5px;
  vertical-align: middle;
}

.header-menu p {
  margin: 5px 0 0 0;
  background-color: #ffffff;
  border-radius: 2px;
  color: transparent;
  display: inline-block;
  font-size: 10px;
  height: 3px;
  padding: 0px 30px 0px 0px;
}

.header .header-title {
  display: table-cell;
  width: 100%;
}

.header-title a {
  vertical-align: middle;
  color: #ffffff;
}

code {
 color: #FFA500;
}

code .kw,.cf {
  color: #F2E954;
  font-weight: bold;
}

code .st {
  color: #cc0000;
}

code .op {
  color: #16954F;
  font-weight: bold;
}

code .va {
  color: #40ECC3;
}

.pane-content {
  background-color: #000000;
}

.pane-info {
  background-color: #ffffff;
}

.pane-info {
  height: 25px;
}

.pane-info div {
  margin: 2px;
}

.pane-info-title {
  float: left;
}

.pane-info-meta {
  float: right;
}

.pane {
  height: 100%; 
}

.pane-right .pane-content {
  overflow-y: scroll;
}

.github * {
  display: inline-block;
  height: 25px;
  vertical-align: middle;
  line-height: 25px;
  margin-right: 5px;
}

.github-repo-url {
  text-decoration: underline;
}

.project-header-title {
  text-decoration: none;
}

.preview {
  height: 15em;
  overflow: hidden; 
  position: relative;
}

.preview-header {
  height: 3em;
}

.preview-title a {
  color: #FD00FE;
}

.preview-resource-url {
  font-size: 0.75em;
}

.preview-resource-url * {
  display: inline-block;
  vertical-align: middle;
}

.preview-resource-url p {
  margin: 5px;
  text-decoration: underline;
}

.preview-resource-url img {
  height: 20px;
}

.preview-body {
  height: 12em;
}

.preview-blurr {
  height: 12em;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgb(0,0,0);
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 80%); 
  width: 100%;
  z-index: 1;
}

@media (max-width: 640px) {
  .content {
    height: 100%;
  }

  .editor {
    margin: 0px;
    padding: 0px;
  }

  .pane-content {
    height: calc(100vh - 65px);
  }

  .pane-left {
    display: none;
  }

  .pane-right {
    width: 100%;
  }

  .editor {
    width: 100%;
  }

  body {
    margin: 0px;
  }
}

@media (min-width: 641px) {

  .editor {
    width: 90%;
    margin: 0 auto;
    padding: 1em;
  } 

  .pane-content {
    height: calc(85vh - 25px);
  }

  .content {
    height: 85vh;
  }

  .pane-left {
    float: left;
    width: 35%;
  }
  
  .pane-right {
    float: right;
    width: 65%;
  }

  .pane-right .pane-content {
    border-left: 2px solid #ffffff;
  }
   
  .pane-left .pane-content {
    overflow-x: clip;
    overflow-y: scroll;
  }
}

@media (min-width: 800px) {
  .editor {
    width: 75%;
  }
}

@media (min-width: 1280px) {
  .pane-left {
    width: 20%;
  }

  .pane-right {
    width: 80%;
  }
}
