html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #000;
}

header {
  border-bottom: 0.2rem solid #000;
  margin: 0 0 3rem;
  font-size: 2.4rem;
}

nav a {
  font-size: 1rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
  margin-top: 3rem;
  padding: 1.2rem 0;
  border-top: 0.2rem solid #000;
  font-size: 1.2rem;
  color: #555;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}

.logo a {
  font-weight: bold;
  color: #000;
  text-decoration: none;
}

.logo {
    margin: 1rem auto 1rem;
}

nav a {
  margin: 0 0.6rem;
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  header {
    text-align: center;
  }
  nav {
    text-align: center;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center:
  }
}

@media (min-width: 640px) {
  body {
    width: 60rem;
    margin: 0 auto;
    padding: 0;
  }
  nav {
    margin: 0;
    text-align: left;
  }
  footer {
    text-align: right;
  }
  .logo {
    text-align: left;
  }
}
